.fetch-orders-btn {
    position: fixed;
    top: 45%; 
    left: 50%;
    background-color: #007bff;
    border-width: 2px;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.fetch-orders-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.fetch-orders-btn:active {
    background-color: #004494;
    transform: scale(1);
}

.order-container{
    width: 400px;
    border-right-style: dashed;
    border-right-width: 3px;
    border-right-color: black;
}

.msg-invisible{
    display: none;
}

.msg-visible-success{
    display: block;
    font-size: larger;
    position: fixed;
    top: 57%;
    left: 48%;
    color: green;
}

.msg-visible-fail{
    display: block;
    font-size: larger;
    position: fixed;
    top: 50%;
    left: 50%;
    color: red;
}